Repository acolombier/stemgen, pull requests merged in 2025-05, with the labels that each got.

#17 chore: add integration test
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
  Dockerfile
  README.md
  pyproject.toml
  requirements_dev.txt
  stemgen/__main__.py
  stemgen/app.py
  stemgen/constant.py
  stemgen/nistemfile.py
  tests/__init__.py
  tests/conftest.py
  tests/test_codec.py
  tests/test_id3.py
  tests/testdata/Oddchap - Sound 104.mp3
  tests/testdata/rocket.png
Labels: build, stemgen

#21 feat: backend specific distribution
  .github/workflows/build.yml
  .github/workflows/checks.yml
  Dockerfile
  README.md
Labels: build

#19 Cover improvements
  stemgen/nistemfile.py
Labels: stemgen

#20 chore(release): bump up version to 0.4.0
  .github/workflows/build.yml
  README.md
  stemgen/__init__.py
Labels: build, stemgen
