Repository acolombier/stemgen, pull requests merged in 2025-04, with the labels that each got.

#11 ci: don't login to docker.io on PR
  .github/workflows/build.yml
Labels: build

#10 Fix errors when converting flac and opus.
  stemgen/nistemfile.py
Labels: stemgen

#12 Stem creation
  .devcontainer.json
  README.md
  setup.py
  stemgen/__init__.py
  stemgen/__main__.py
  stemgen/cli.py
  stemgen/demucs.py
  stemgen/nistemfile.py
Labels: build, stemgen

#16 requirements.txt: Switch to tagpy 2025.1 release.
  requirements.txt
Labels: build

#14 Add ability to encode flac+opus and some minor improvements.
  stemgen/__main__.py
  stemgen/cli.py
  stemgen/constant.py
  stemgen/demucs.py
  stemgen/nistemfile.py
  stemgen/track.py
Labels: stemgen
